$color-blue: #1978db;
$color-dark-gray: #666;
$color-red: #f55;
$color-yellow: #ebff54;
$color-white: #fff;
$color-primary: $color-blue;
$color-secondary: $color-yellow;
$color-base: $color-dark-gray;
$color-bg: $color-white;
